$navbar-bg-color: #4056a1;
@mixin align-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav {
  height: 120px;
  width: 100%;
  background-color: $navbar-bg-color;
  color: white;
  padding: 0 1.5em;
  padding-top: 40px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
&-right {
  @include align-vertically;
}
i {
  color: orange;
  justify-content: center;
  margin-left: 3em;
  padding: 8px;
  animation-duration: 2s;
}
&-tweet-btn {
  cursor: pointer;
  @include align-vertically;
  padding: 8px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
& :hover {
  background-color: rgba(255, 255, 255, 0.1);
}
&-scroll-to-top-btn {
  @include align-vertically;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: none;
}
i {
  font-size: 30px;
}
