/* Media query for mobile view (less than 767px)  */
/* Media query for desktop view (greater than 1024px) */
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .column {
    flex: 1; /* Equal-width columns */
    max-width: calc(50% - 20px); /* Adjust as needed for spacing between columns */
  }
  #header {
    margin-top: 50px;
    margin-right: 150px;
  }
  .wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
